:local(.button) {
  margin: 2rem;
}
:local(.grid) {
  margin-top: -3rem;
}
:local(.panel) {
  padding: 3rem 5rem;
  width: 50rem;
  margin: 0 auto;
}
:local(.form) {
  width: 10em;
}
:local(.form) * {
  font-family: inherit;
}
