:local(.panelContainer) {
  margin-left: 1rem;
  margin-right: 1rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
:local(.panelContainer).relative {
  position: relative;
}
:local(.panelBody) {
  padding: 0.25rem 1rem;
}
:local(.panelHeading) {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
:local(.closeButton) {
  font-weight: bolder;
}
