:local(.col) {
  display: flex;
  flex-direction: column;
}
:local(.titleContainer) {
  height: 100px;
  background-color: #f7f7f7;
  border: 1px solid #f3f3f3;
  margin-bottom: 40px;
  border-radius: 5px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
:local(.cardTitle) {
  margin-bottom: 0;
}
